* { outline: 1px solid red; }

html {
  margin-top: 0px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 0px;
  color: cadetblue;
}

/*header*/

header {
  position: fixed;
  border-bottom: 1px solid grey;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  width: 98.5%;
  background-color: seashell;
  align-items: center;
}

nav {
  margin-left: 5px;
  display: flex;
  justify-content: space-around;
  float: left;
}

header a {
  margin-right: 5px;
  float: right;
  color: cadetblue;
  text-decoration: none;
}

header p {
  font-size: 15px;
  padding-right: 270px;
}

h1 {
  margin-top: 50px;
}

footer {
  border-top: 1px solid grey;
}

footer div {
  margin-left: 5px;
}

.main img {
  margin-top: 0px;
}

#page1 #profile {
  width: 100%;
  height auto;
  margin-top: 0px;
}

#page1 .main {
  display: flex;
  flex-direction: column;
}

#page1 section {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 420px;
}

#interests,
#trajectory,
#background,
#tokyo,
#boston,
#naha,
#saipan,
#honolulu,
#slc {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: cadetblue;
  font-size: 23px;
  text-decoration: none;
  font-weight: bold;
  background-repeat: no-repeat;
}

#edu,
#hr,
#admin {
  height: 350px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: seashell;
  font-weight: bold;
  background-repeat: no-repeat;
}

#interests {
  background-image: url("../bowtie1.jpg");
}

#trajectory {
  background-image: url("../map.png");
}

#background {
  background-image: url("../work.jpg");
}

#tokyo {
  background-image: url("../tokyo1.jpg");
}

#boston {
  background-image: url("../boston.jpg");
}

#naha {
  background-image: url("../naha.jpg");
}

#saipan {
  background-image: url("../saipan1.jpg");
}

#honolulu {
  background-image: url("../honolulu3.jpg");
}

#slc {
  background-image: url("../slc1.jpg");
}

#edu {
  background-image: url("../fashion1.png");
  padding-left: 10px;
  padding-right: 5px;
}

#hr {
  background-image: url("../HR3.jpg");
  padding-left: 10px;
}

#admin {
  background-image: url("../office.jpg");
  padding-left: 10px;
}

#page3 section {
  display: flex;
  justify-content: space-around;
  height: 950px;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 50px;
}

section div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.city p {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.background {
  display: flex;
  padding-top: 50px;
  justify-content: space-around;
}

#contact {
  font-weight: bold;
}
